Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/api/**/*"
          - "packages/~/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/database/**/*"
          - "packages/~/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "packages/~/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/lib/**/*"
          - "packages/~/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/ui/**/*"
          - "packages/~/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "packages/~/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/~/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/~/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "packages/~/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "packages/~/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "packages/~/welcome/**/*"

fix(moderation): hide the modal if the request is successful (#879)
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
Labels: :lipstick: ui, scope: moderations

test(e2e): start matching the uvv lib
  e2e/cypress/support/command.ts
  e2e/cypress/support/step_definitions/general.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/auth/connexion.feature
Labels: :traffic_light: e2e

chore(deps): update to htmx.org@2
  bun.lock
  packages/~/app/api/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
Labels: :globe_with_meridians: api, scope: app

Update refusal_france_travail.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: :lipstick: ui, scope: moderations

chore: update snapshot
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
Labels: :lipstick: ui, scope: moderations

Update refusal_france_travail.tsx (#890)
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: :lipstick: ui, scope: moderations

Update enseignement_agricole.tsx
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

fix syntax
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

fix: use user domain
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

Revert "fix: use user domain"
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

fix: nom de domain
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

fix: update snapshot
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

Update enseignement_agricole.tsx (#891)
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: :lipstick: ui, scope: moderations

:bookmark: release 2025.5.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

fix(ui): expands the refusal modal
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

fix(ui): Move up the directory heading list button next to ‘Profession’
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/users/ui/src/About/About.tsx
Labels: :globe_with_meridians: api, :lipstick: ui, scope: moderations, scope: organizations, scope: users

fix(ui): Add name of organisation in the Accept and Reject modal
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

fix(ui): Not display the action widget until reprocess clicked
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
Labels: :lipstick: ui, scope: moderations

fix(ui): add verification type missing & delete default selected value - WIP 🚧
  packages/~/infra/moncomptepro/lib/src/verification_type.ts
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :building_construction: infra, :books: lib, :lipstick: ui, scope: moderations

fix(ui): Fix behaviour of "Voir les échanges" button when clicked, the modals will close
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
Labels: :lipstick: ui, scope: moderations

fix(ui): Update button wording and style on modals + update tests
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

chore(ui): add copy button to "denomination" & "siret" + improves the behaviour of the copy button
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/organizations/ui/src/info/About.tsx
Labels: :lipstick: ui, scope: app, scope: organizations

refactor(RT): clean TagInput component
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

fix(RT): delete preselected tag
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

fix(button): update redirection of "fiche annuaire" button
  packages/~/organizations/ui/src/info/About.tsx
Labels: :lipstick: ui, scope: organizations

tests: update tests
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  packages/~/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
Labels: :traffic_light: e2e, :lipstick: ui, scope: organizations

fix: update snapshot
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
Labels: :lipstick: ui, scope: organizations

refacto(toolbar): divides the component into smaller components
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
Labels: :lipstick: ui, scope: moderations

fix(moderation): improvement ui (#897)
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/TagInput.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/organizations/ui/src/info/About.tsx
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  packages/~/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
  packages/~/users/ui/src/About/About.tsx
Labels: :traffic_light: e2e, :globe_with_meridians: api, :lipstick: ui, scope: app, scope: moderations, scope: organizations, scope: users

chore(deps): update to tailwindcss@4
  bun.lock
  package.json
  packages/~/app/ui/tailwind.css
  packages/~/config/tailwindcss/package.json
Labels: :lipstick: ui, scope: app, scope: config

wording(modals): update informations into acceptal & refusal modals
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

wording(modals): update informations into acceptal & refusal modals (#906)
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

chore(organization): remove dead code
  packages/~/app/urls/src/pattern.d.ts
  packages/~/infra/moncomptepro/lib/src/fetch.ts
  packages/~/infra/moncomptepro/lib/src/index.ts
  packages/~/organizations/api/src/:id/$procedures/index.ts
  packages/~/organizations/api/src/:id/$procedures/verify_domain.ts
  packages/~/organizations/api/src/:id/index.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :books: lib, scope: app, scope: organizations

chore(organization): remove dead code (#907)
  packages/~/app/urls/src/pattern.d.ts
  packages/~/infra/moncomptepro/lib/src/fetch.ts
  packages/~/infra/moncomptepro/lib/src/index.ts
  packages/~/organizations/api/src/:id/$procedures/index.ts
  packages/~/organizations/api/src/:id/$procedures/verify_domain.ts
  packages/~/organizations/api/src/:id/index.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :books: lib, scope: app, scope: organizations

chore: use the package types
  bun.lock
  packages/~/infra/moncomptepro/lib/src/moncomptepro.d.ts
  packages/~/infra/moncomptepro/lib/src/sdk.ts
  packages/~/infra/moncomptepro/lib/src/verification_type.ts
Labels: :building_construction: infra, :books: lib

:bookmark: release 2025.5.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

chore: run @tailwindcss/upgrade
  bun.lock
  package.json
  packages/~/app/api/src/error.tsx
  packages/~/app/api/src/not-found.tsx
  packages/~/app/layout/src/main.tsx
  packages/~/app/middleware/src/NotAuthorized.tsx
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/app/ui/src/button/index.ts
  packages/~/app/ui/src/table/index.ts
  packages/~/app/ui/src/tag/index.ts
  packages/~/app/ui/src/visually_hidden/index.ts
  packages/~/infra/crisp/ui/src/Message/index.tsx
  packages/~/moderations/api/src/:id/email/page/Message.tsx
  packages/~/moderations/api/src/:id/not-found.tsx
  packages/~/moderations/api/src/page.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/SendNotification.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/organizations/api/src/:id/Fiche.tsx
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/members/Table.tsx
  packages/~/organizations/api/src/:id/not-found.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/organizations/api/src/domaines/Page.tsx
  packages/~/organizations/api/src/page.tsx
  packages/~/users/api/src/:id/moderations/Table.tsx
  packages/~/users/api/src/:id/not-found.tsx
  packages/~/users/api/src/:id/organizations/Table.tsx
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/api/src/page.tsx
  packages/~/welcome/api/src/_client/hyyypertitle.ts
  packages/~/welcome/api/src/index.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :lipstick: ui, scope: app, scope: moderations, scope: organizations, scope: users, scope: welcome

doc(readme): update readme with deployment process
  README.md
Labels: :memo: documentation

chore: put dsfr on a layer
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.test.tsx
  packages/~/app/layout/src/root.ts
  packages/~/app/ui/src/button/index.ts
  packages/~/app/ui/tailwind.css
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
Labels: :lipstick: ui, scope: app, scope: organizations

doc(readme): update readme with deployment process (#908)
  README.md
Labels: :memo: documentation
