Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

chore: zod is a transitive dependency here
  bun.lock
  package.json
Labels: none

chore(moncomptepro): export all identity types on the index
  packages/~/infra/moncomptepro/lib/src/index.ts
  packages/~/organizations/repository/src/get_unverified_domains.test.ts
Labels: :file_cabinet: database, :building_construction: infra, :books: lib, scope: organizations

fix(organization): remove legacy verification_type
  packages/~/infra/moncomptepro/lib/src/verification_type.ts
  packages/~/organizations/api/src/:id/members/Table.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :books: lib, scope: organizations

test(moderation): update test case
  bun.lock
  packages/~/infra/moncomptepro/lib/package.json
  packages/~/moderations/api/src/:id/$procedures/validate.e2e.test.ts
Labels: :globe_with_meridians: api, :building_construction: infra, :books: lib, scope: moderations

chore: openid-client is a transitive dependency here
  bun.lock
  package.json
Labels: none

:bookmark: release 2025.5.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

upgrade package identite to 0.6.0
  bun.lock
  packages/~/infra/moncomptepro/lib/package.json
Labels: :building_construction: infra, :books: lib

adapt sdk with new package identite
  packages/~/infra/moncomptepro/lib/src/sdk.ts
Labels: :building_construction: infra, :books: lib

upgrade package identite to 0.6.0 (#914)
  bun.lock
  packages/~/infra/moncomptepro/lib/package.json
  packages/~/infra/moncomptepro/lib/src/sdk.ts
Labels: :building_construction: infra, :books: lib

:bookmark: release 2025.6.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

fix(moderation): add sendNotification component
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

fix(moderation): add sendNotification component (#919)
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

:bookmark: release 2025.6.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

chore(pkg): update to @types/bun
  bun.lock
  package.json
  packages/~/app/api/package.json
  packages/~/app/core/package.json
  packages/~/app/core/tsconfig.json
  packages/~/app/layout/package.json
  packages/~/app/layout/tsconfig.json
  packages/~/app/sentry/package.json
  packages/~/app/sentry/tsconfig.json
  packages/~/app/ui/tsconfig.json
  packages/~/app/urls/tsconfig.json
  packages/~/config/typescript/base/tsconfig.json
  packages/~/config/typescript/bun/tsconfig.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/tsconfig.json
  packages/~/infra/zammad/api/package.json
  packages/~/infra/zammad/api/tsconfig.json
  packages/~/moderations/lib/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
  packages/~/welcome/api/tsconfig.json
  tsconfig.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: config, scope: moderations, scope: organizations, scope: users, scope: welcome

chore(pkg): update to @types/bun (#920)
  bun.lock
  package.json
  packages/~/app/api/package.json
  packages/~/app/core/package.json
  packages/~/app/core/tsconfig.json
  packages/~/app/layout/package.json
  packages/~/app/layout/tsconfig.json
  packages/~/app/sentry/package.json
  packages/~/app/sentry/tsconfig.json
  packages/~/app/ui/tsconfig.json
  packages/~/app/urls/tsconfig.json
  packages/~/config/typescript/base/tsconfig.json
  packages/~/config/typescript/bun/tsconfig.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/tsconfig.json
  packages/~/infra/zammad/api/package.json
  packages/~/infra/zammad/api/tsconfig.json
  packages/~/moderations/lib/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
  packages/~/welcome/api/tsconfig.json
  tsconfig.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: config, scope: moderations, scope: organizations, scope: users, scope: welcome

chore(scripts): add dev script
  scripts/dev.ts
Labels: none

chore(scripts): add dev script (#921)
  scripts/dev.ts
Labels: none

chore(scripts): add seed script
  README.md
  packages/~/infra/moncomptepro/database/bin/migration.ts
  packages/~/infra/moncomptepro/database/src/seed/index.ts
  scripts/seed.ts
Labels: :memo: documentation, :file_cabinet: database, :building_construction: infra

fix(readme): fix error in doc links
  README.md
Labels: :memo: documentation

fix(readme): fix error in doc links (#923)
  README.md
Labels: :memo: documentation

test(e2e): test sent notification through mockserver
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  scripts/studio.ts
Labels: :traffic_light: e2e

test(app): fix middleware pg test
  packages/~/app/middleware/src/moncomptepro_pg.test.ts
Labels: scope: app

test(e2e): test sent notification through mockserver (#924)
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/app/middleware/src/moncomptepro_pg.test.ts
  scripts/studio.ts
Labels: :traffic_light: e2e, scope: app

chore(scripts): add seed script (#922)
  README.md
  packages/~/infra/moncomptepro/database/bin/migration.ts
  packages/~/infra/moncomptepro/database/src/seed/index.ts
  scripts/seed.ts
Labels: :memo: documentation, :file_cabinet: database, :building_construction: infra

blind code adaption
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/auth/connexion.feature
  mocks/auth.agentconnect.gouv.fr/mockserverInitialization.json
  packages/~/app/core/src/config/env.ts
  packages/~/app/middleware/src/session/AgentConnect_UserInfo.ts
  packages/~/app/middleware/src/session/Session_Context.ts
  packages/~/auth/api/src/agentconnect.ts
  packages/~/auth/api/src/index.ts
Labels: :traffic_light: e2e, :globe_with_meridians: api, scope: app, scope: auth

chore(moderation): create checkbox to add domain as internal or external
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/organizations/lib/src/usecase/AddVerifiedDomain.ts
Labels: :globe_with_meridians: api, :books: lib, :lipstick: ui, scope: moderations, scope: organizations

chore(moderation): adds a script to manage whether or not to display AddDomain
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

refacto(seed): create specific file for user & organisation
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/abracadabra.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/aldp.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dengi.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dinum.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/sak.ts
  packages/~/infra/moncomptepro/database/src/seed/users/jeanbon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/pierrebon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael_alpha.ts
  packages/~/infra/moncomptepro/database/src/seed/users/richardbon.ts
Labels: :file_cabinet: database, :building_construction: infra

refacto(seed): create specific file for user & organisation (#926)
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/abracadabra.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/aldp.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dengi.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dinum.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/sak.ts
  packages/~/infra/moncomptepro/database/src/seed/users/jeanbon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/pierrebon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael_alpha.ts
  packages/~/infra/moncomptepro/database/src/seed/users/richardbon.ts
Labels: :file_cabinet: database, :building_construction: infra

chore(moderation): create checkbox to add domain as internal or external (#925)
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/organizations/lib/src/usecase/AddVerifiedDomain.ts
Labels: :traffic_light: e2e, :globe_with_meridians: api, :books: lib, :lipstick: ui, scope: moderations, scope: organizations

make the app.moncomptepro.beta.gouv.fr a given
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
Labels: :traffic_light: e2e

fix(app): redirect_uri missmatch issue
  .env
  packages/~/auth/api/src/agentconnect.ts
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

fix(app): redirect_uri missmatch issue (#927)
  .env
  packages/~/auth/api/src/agentconnect.ts
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

debug: remove tokenEndpointParameters
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

debug: use native Error of AuthError
  packages/~/app/core/src/error/index.ts
Labels: scope: app

debug: log the req and the expected uri
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

debug: issue on https raw req
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

chore(dependabot) : add tailwindcss group
  .github/dependabot.yml
Labels: :construction_worker: CI

chore(dependabot) : add tailwindcss group (#933)
  .github/dependabot.yml
Labels: :construction_worker: CI

debug: add iss to expected query
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/api/**/*"
          - "packages/~/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/database/**/*"
          - "packages/~/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "packages/~/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/lib/**/*"
          - "packages/~/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/ui/**/*"
          - "packages/~/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "packages/~/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/~/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/~/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "packages/~/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "packages/~/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "packages/~/welcome/**/*"
