Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

fix: add context reset for modal interaction in jean_bon_join_abracadabra test
  e2e/cypress/support/step_definitions/hyyyper.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/auth/connexion.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
Labels: :traffic_light: e2e

chore(lock): update lock file
  bun.lock
  packages/~/app/urls/src/pattern.d.ts
Labels: scope: app

chore(dependabot): use enable-beta-ecosystems
  .github/dependabot.yml
Labels: :construction_worker: CI

chore(deps): bump hono to 4.8.4
  bun.lock
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/identite-proconnect/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

chore(lock): sync hono deps
  bun.lock
  packages/~/app/middleware/package.json
  packages/~/organizations/api/package.json
Labels: :globe_with_meridians: api, scope: app, scope: organizations

chore(lock): sync hono deps
  bun.lock
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/middleware/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/identite-proconnect/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

chore(lock): sync hono deps
  bun.lock
  package.json
Labels: none

📝 add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: :memo: documentation

📝 add CONTRIBUTING.md (#1006)
  CONTRIBUTING.md
Labels: :memo: documentation

💚 test ci
  packages/~/app/middleware/src/moncomptepro_pg.test.ts
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: app, scope: moderations

🔥 delete coop tag input
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

✨ add force 2fa
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

✨ add force 2fa
  packages/~/app/core/src/schema/index.ts
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: app, scope: auth

:bookmark: release 2025.7.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ add force 2fa (#1009)
  packages/~/app/core/src/schema/index.ts
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: app, scope: auth

:bookmark: release 2025.7.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

Revert ":arrow_upper_right: [patch](deps): bump @gouvfr/dsfr (#1000)"
  bun.lock
  package.json
Labels: none

Revert "🔥 delete coop tag input"
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

Revert ":arrow_upper_right: [patch](deps-dev): bump prettier-plugin-tailwindc…"
  bun.lock
  package.json
Labels: none

Revert "✨ add force 2fa (#1009)"
  packages/~/app/core/src/schema/index.ts
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: app, scope: auth

Revert ":arrow_upper_right: [patch](deps): bump openid-client (#1005)"
  bun.lock
  packages/~/app/middleware/package.json
  packages/~/auth/api/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, scope: app, scope: auth, scope: welcome

Revert ":arrow_upper_right: [patch](deps): bump pg from 8.16.2 to 8.16.3 (#1001)"
  bun.lock
  packages/~/infra/identite-proconnect/database/package.json
  packages/~/infra/identite-proconnect/lib/package.json
Labels: :file_cabinet: database, :building_construction: infra, :books: lib

Revert ":arrow_upper_right: [patch](deps-dev): bump drizzle-kit (#995)"
  bun.lock
  packages/~/infra/identite-proconnect/database/package.json
Labels: :file_cabinet: database, :building_construction: infra

Revert ":arrow_upper_right: [patch](deps-dev): bump prettier from 3.5.3 to 3.…"
  bun.lock
  package.json
Labels: none

Revert ":arrow_upper_right: [patch](deps-dev): bump @electric-sql/pglite (#992)"
  bun.lock
  packages/~/infra/identite-proconnect/database/package.json
Labels: :file_cabinet: database, :building_construction: infra

Revert ":arrow_upper_right: [patch](deps): bump @hono/node-server (#991)"
  bun.lock
  packages/~/app/api/package.json
Labels: :globe_with_meridians: api, scope: app

Revert ":arrow_upper_right: [patch](deps): bump hono from 4.8.2 to 4.8.4 in /…"
  bun.lock
  packages/~/app/middleware/package.json
  packages/~/app/urls/src/pattern.d.ts
Labels: scope: app

Revert ":arrow_upper_right: [patch](deps): bump hono (#982)"
  packages/~/organizations/api/package.json
Labels: :globe_with_meridians: api, scope: organizations

Revert ":arrow_upper_right: [patch](deps): bump pg from 8.16.2 to 8.16.3 in /…"
  e2e/bun.lock
  e2e/package.json
Labels: :traffic_light: e2e

Revert ":arrow_upper_right: [patch](deps): bump the sentry group with 2 updat…"
  bun.lock
  packages/~/app/sentry/package.json
Labels: scope: app

Revert "feat(moderation): update agent_comcom_comaglo (#961)"
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
Labels: :lipstick: ui, scope: moderations

Revert "chore(moderation): update refusal_france_travail label (#950)"
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: :lipstick: ui, scope: moderations

Revert ":arrow_upper_right: [patch](deps): bump @badeball/cypress-cucumber-pr…"
  e2e/bun.lock
  e2e/package.json
Labels: :traffic_light: e2e

Revert "fix(typo): add accent to vérifier (#947)"
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/main.tsx
Labels: :traffic_light: e2e, scope: app

Revert "Revert "🔧 improve dependabot config for bun monorepo support (#975)" …"
  .github/dependabot.yml
Labels: :construction_worker: CI

🚑 manually revert commit fb97892 to fix the verification type and the front
  bun.lock
  packages/~/app/api/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
Labels: :globe_with_meridians: api, scope: app

:bookmark: release 2025.7.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/api/**/*"
          - "packages/~/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/database/**/*"
          - "packages/~/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "packages/~/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/lib/**/*"
          - "packages/~/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/ui/**/*"
          - "packages/~/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "packages/~/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/~/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/~/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "packages/~/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "packages/~/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "packages/~/welcome/**/*"
