Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

✅ add single factor authent test
  sources/auth/api/src/index.test.ts
  sources/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

✅ add single factor authent test (#1037)
  sources/auth/api/src/index.test.ts
  sources/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

chore(bun): use isolated installation
  bunfig.toml
Labels: none

Revert "🚑 manually revert commit fb97892 to fix the verification type and the front"
  bun.lock
  sources/app/api/package.json
  sources/app/layout/src/__snapshots__/main.test.tsx.snap
  sources/app/layout/src/__snapshots__/root.test.tsx.snap
  sources/app/layout/src/root.ts
Labels: :globe_with_meridians: api, scope: app

restore @import of dsfr
  packages/hono-slotify/src/__snapshots__/indext.test.tsx.snap
  sources/app/layout/src/__snapshots__/main.test.tsx.snap
  sources/app/layout/src/__snapshots__/root.test.tsx.snap
  sources/app/layout/src/root.ts
  sources/moderations/ui/src/Actions/responses/__snapshots__/admin_centrale.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_to_commune.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_outside_min_finance_chorus_pro.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/association_ordinary_person.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/association_with_staff_but_no_domain_name.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/domain_name_not_found.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/first_and_last_name_inversion.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/gendarmerie_agent.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/link_with_chosen_organization.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armee_pec.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armees.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armees_terre_marine_musee.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/missing_name.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/more_precise_existing_establishement_cnrs.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/name_incorrectly_entered.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/non_teaching_agent.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered_not_blocking.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/presta_email_admin_public.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/presta_email_orga_public_beta_gouv.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/public_or_private_organization.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/refusal_interieur_gouv.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/reservist_or_other_email_perso.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/seconded_agent_min_interior.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/student_host_organisation.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/student_school_training_establishment.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/teacher_academic_email.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/university_email_cnrs.test.tsx.snap
  sources/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
  sources/organizations/repository/src/__snapshots__/get_organizations_list.test.ts.snap
  sources/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  sources/organizations/ui/src/info/__snapshots__/InactiveWarning.test.tsx.snap
  sources/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
Labels: :file_cabinet: database, :lipstick: ui, scope: app, scope: moderations, scope: organizations

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "sources/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "sources/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "sources/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "sources/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "sources/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "sources/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "sources/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "sources/welcome/**/*"
