Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

debug: add iss to expected query (2)
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

debug: add iss to expected query (3)
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

debug: end of debugging
  packages/~/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

feat(moderation): add new verification type
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

feat(moderation): add new verification type (#937)
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: moderations

chore(moderation): make the text bigger
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
Labels: :lipstick: ui, scope: moderations

chore(moderation): make the text bigger (#946)
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
Labels: :lipstick: ui, scope: moderations

:bookmark: release 2025.6.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

fix(typo): add accent to vérifier
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/main.tsx
Labels: :traffic_light: e2e, scope: app

fix(typo): add accent to vérifier (#947)
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/main.tsx
Labels: :traffic_light: e2e, scope: app

Update refusal_france_travail.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: :lipstick: ui, scope: moderations

Update and rename accountant.tsx to refusal_interieur_gouv.tsx
  packages/~/moderations/ui/src/Actions/responses/accountant.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.tsx
Labels: :lipstick: ui, scope: moderations

Update index.ts
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: :lipstick: ui, scope: moderations

chore(deps): bump hono from 4.7.11
  bun.lock
  package.json
  packages/~/app/urls/src/pattern.d.ts
Labels: scope: app

chore(deps): bump hono to 4.7.11 (#959)
  bun.lock
  package.json
  packages/~/app/urls/src/pattern.d.ts
Labels: scope: app

chore(deps): bump hono to 4.8.2
  bun.lock
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/middleware/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

chore(deps): bump hono to 4.8.2 (#960)
  bun.lock
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/middleware/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

test(moderation): update refusal_interieur_gouv
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_interieur_gouv.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.test.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.tsx
Labels: :lipstick: ui, scope: moderations

Update and rename accountant.tsx to refusal_interieur_gouv.tsx (#953)
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_interieur_gouv.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/accountant.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.test.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.tsx
Labels: :lipstick: ui, scope: moderations

chore(moderation): update refusal_france_travail label (#950)
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: :lipstick: ui, scope: moderations

Update agent_comcom_comaglo.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
Labels: :lipstick: ui, scope: moderations

test(moderation): update agent_comcom_comaglo
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
Labels: :lipstick: ui, scope: moderations

feat(moderation): update agent_comcom_comaglo (#961)
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
Labels: :lipstick: ui, scope: moderations

remove withTv
  package.json
  packages/~/config/tailwindcss/index.ts
Labels: scope: config

lock file update...
  bun.lock
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: :construction_worker: CI

chore(lock): update lock file
  bun.lock
Labels: none

chore(test): remove unused htmx import
  packages/~/app/ui/src/button/scripts/copy_text_content_to_clipboard.test.tsx
  packages/~/app/ui/src/button/scripts/copy_value_to_clipboard.test.tsx
  packages/~/app/ui/src/button/scripts/disable_until_htmx:afterOnLoad.test.tsx
  packages/~/app/ui/src/menu/components/scripts/hide_on_click_elsewere.test.tsx
Labels: :lipstick: ui, scope: app

chore(app): migrate to htmx-ext-*
  bun.lock
  packages/~/app/api/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
Labels: :globe_with_meridians: api, scope: app

refactor: consolidate duplicate identite_pg middleware implementations
  packages/~/app/api/src/index.ts
  packages/~/app/api/src/readyz/index.ts
  packages/~/app/middleware/src/context.ts
  packages/~/app/middleware/src/identite_pg.test.ts
  packages/~/app/middleware/src/identite_pg.ts
  packages/~/app/middleware/src/set_identite_pg.test.ts
  packages/~/app/middleware/src/set_identite_pg.ts
  packages/~/moderations/api/src/:id/$procedures/processed.ts
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/api/src/page.tsx
  packages/~/organizations/api/src/:id/members/:user_id/index.tsx
Labels: :globe_with_meridians: api, scope: app, scope: moderations, scope: organizations

🔧 fix(deps): update proconnect.core to use mostUsedFreeEmailDomains from data export
  bun.lock
  package.json
  packages/~/infra/identite-proconnect/lib/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/repository/src/get_unverified_domains.ts
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, scope: organizations

🔧 fix(deps): update proconnect.core to use mostUsedFreeEmailDomains from data export (#974)
  bun.lock
  package.json
  packages/~/infra/identite-proconnect/lib/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/repository/src/get_unverified_domains.ts
Labels: :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, scope: organizations

🔧 improve dependabot config for bun monorepo support
  .github/dependabot.yml
Labels: :construction_worker: CI

🔧 improve dependabot config for bun monorepo support (#975)
  .github/dependabot.yml
Labels: :construction_worker: CI

feat: add UVV step definition 'je vois le texte {string}' and update feature files
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
Labels: :traffic_light: e2e

feat: fix missing UVV step definitions to restore test functionality
  e2e/cypress/support/step_definitions/connexion.ts
  e2e/cypress/support/step_definitions/general.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/auth/connexion.feature
Labels: :traffic_light: e2e

feat: fix remaining UVV step definition duplicates and missing steps
  e2e/cypress/support/step_definitions/general.ts
  e2e/cypress/support/step_definitions/uvv.ts
Labels: :traffic_light: e2e

feat: add UVV step definition for text input by placeholder
  e2e/cypress/support/step_definitions/uvv.ts
Labels: :traffic_light: e2e

Revert "🔧 improve dependabot config for bun monorepo support (#975)"
  .github/dependabot.yml
Labels: :construction_worker: CI

Revert "🔧 improve dependabot config for bun monorepo support (#975)" (#990)
  .github/dependabot.yml
Labels: :construction_worker: CI

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/api/**/*"
          - "packages/~/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/database/**/*"
          - "packages/~/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "packages/~/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/lib/**/*"
          - "packages/~/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/ui/**/*"
          - "packages/~/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "packages/~/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/~/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/~/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "packages/~/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "packages/~/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "packages/~/welcome/**/*"
