Repository numerique-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: app, scope: auth, scope: config, scope: moderations, scope: organizations, scope: proxy, scope: users, scope: welcome

:bookmark: release 2025.4.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

chore: rename MonComptePro to ProConnect
  hyyypertool.code-workspace
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
Labels: :globe_with_meridians: api, :lipstick: ui, scope: moderations

chore: rename MonComptePro to ProConnect (#863)
  hyyypertool.code-workspace
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
Labels: :globe_with_meridians: api, :lipstick: ui, scope: moderations

chore(workspace): rename the root
  hyyypertool.code-workspace
Labels: none

fix(moderation): replace subject by raison in comments
  e2e/bun.lock
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_dinum.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
  e2e/package.json
  e2e/tsconfig.json
  hyyypertool.code-workspace
  packages/~/app/urls/src/pattern.d.ts
  packages/~/moderations/api/src/:id/$procedures/processed.ts
  packages/~/moderations/api/src/:id/$procedures/rejected.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/lib/src/comment_message.ts
  packages/~/moderations/lib/src/context/rejected.ts
  packages/~/moderations/lib/src/schema/rejected.form.ts
  packages/~/moderations/lib/src/usecase/create_and_send_email_to_user.ts
  packages/~/moderations/lib/src/usecase/mark_moderatio_as_rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderation_as.ts
  packages/~/moderations/lib/src/usecase/respond_to_ticket.ts
  packages/~/moderations/lib/src/usecase/send_rejected_message_to_user.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
Labels: :traffic_light: e2e, :globe_with_meridians: api, :books: lib, :lipstick: ui, scope: app, scope: moderations

fix(moderation): replace subject by raison in comments (#864)
  e2e/bun.lock
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_dinum.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
  e2e/package.json
  e2e/tsconfig.json
  hyyypertool.code-workspace
  packages/~/app/urls/src/pattern.d.ts
  packages/~/moderations/api/src/:id/$procedures/processed.ts
  packages/~/moderations/api/src/:id/$procedures/rejected.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/lib/src/comment_message.ts
  packages/~/moderations/lib/src/context/rejected.ts
  packages/~/moderations/lib/src/schema/rejected.form.ts
  packages/~/moderations/lib/src/usecase/create_and_send_email_to_user.ts
  packages/~/moderations/lib/src/usecase/mark_moderatio_as_rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderation_as.ts
  packages/~/moderations/lib/src/usecase/respond_to_ticket.ts
  packages/~/moderations/lib/src/usecase/send_rejected_message_to_user.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
Labels: :traffic_light: e2e, :globe_with_meridians: api, :books: lib, :lipstick: ui, scope: app, scope: moderations

style: remove extra partial
  packages/~/moderations/api/src/:id/page.tsx
Labels: :globe_with_meridians: api, scope: moderations

chore: the best of both merged world
  packages/~/moderations/api/src/:id/page.tsx
Labels: :globe_with_meridians: api, scope: moderations

chore: remove extra botton space on all pages
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
Labels: scope: app

fix(moderation): verification_type on valid user
  packages/~/moderations/api/src/:id/$procedures/validate.ts
Labels: :globe_with_meridians: api, scope: moderations

chore(moderation): remove unused add_domain id ref
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
Labels: :globe_with_meridians: api, :lipstick: ui, scope: moderations

chore(moderation): add modeal_meassage id ref in reject context
  packages/~/moderations/ui/src/Actions/context.ts
Labels: :lipstick: ui, scope: moderations

refactor(ui): share fr-tag style
  packages/~/app/ui/package.json
  packages/~/app/ui/src/tag/index.ts
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :lipstick: ui, scope: app, scope: moderations

fix(moderation): reuse the tag input component
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
Labels: :lipstick: ui, scope: moderations

chore(moderation): mess spaces
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/MessageInfo/MessageInfo.tsx
Labels: :lipstick: ui, scope: moderations

chore(moderation): use no_validation_means_available as verification_type by default
  packages/~/moderations/lib/src/schema/validate.form.ts
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: :books: lib, :lipstick: ui, scope: moderations

test(e2e): jean bon join Abracadabra using the moderation bar
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

test(e2e): jean bon rejected using the moderation bar
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

test: update snapshots
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
Labels: :traffic_light: e2e, :lipstick: ui, scope: moderations

chore(moderation): create toolbar to manage moderation faster (#828)
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/app/ui/package.json
  packages/~/app/ui/src/tag/index.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/api/src/:id/Moderation_Exchanges.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/lib/src/schema/validate.form.ts
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Actions/TagInput.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
  packages/~/moderations/ui/src/MessageInfo/MessageInfo.tsx
Labels: :traffic_light: e2e, :globe_with_meridians: api, :books: lib, :lipstick: ui, scope: app, scope: moderations

feat(hyperbase): the hyper data layer
  docker-compose.yaml
  hyyypertool.code-workspace
  packages/~/infra/hyyyperbase/database/drizzle.config.ts
  packages/~/infra/hyyyperbase/database/package.json
  packages/~/infra/hyyyperbase/database/src/drizzle/meta/_journal.json
  packages/~/infra/hyyyperbase/database/src/drizzle/schema.ts
  packages/~/infra/hyyyperbase/database/src/index.ts
  packages/~/infra/hyyyperbase/database/src/testing/index.test.ts
  packages/~/infra/hyyyperbase/database/src/testing/index.ts
  packages/~/infra/moncomptepro/database/src/drizzle/meta/0000_snapshot.json
  packages/~/infra/moncomptepro/database/src/drizzle/meta/_journal.json
Labels: :file_cabinet: database, :building_construction: infra

feat(ui): add is sticky script
  packages/~/app/ui/package.json
  packages/~/app/ui/src/scroll/scripts/index.ts
  packages/~/app/ui/src/scroll/scripts/is_sticky.ts
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
Labels: :lipstick: ui, scope: app, scope: moderations

fix(button): add type="button" on button to close modal and not submit
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

fix(button): add type="button" on button to close modal and not submit (#875)
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

fix(toolbar): repairs the behaviour of the modal accept & refusal button
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

refactor(toolbar): Delete the Actions section to have only the toolbar
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/Desicison.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/Actions/context.ts
Labels: :lipstick: ui, scope: moderations

refactor(toolbar): Delete space to have less scrolling & delete inexistent "last-message" class
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
Labels: :globe_with_meridians: api, :lipstick: ui, scope: moderations

test(e2e): update cumcumber tests
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
Labels: :traffic_light: e2e

test(snapshot): update snapshots
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
Labels: :lipstick: ui, scope: moderations

fix(moderation): fix error 400 when rejecting member
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: :lipstick: ui, scope: moderations

refactor(toolbar): delete the Actions section to have only the toolbar (#868)
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/Desicison.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
Labels: :traffic_light: e2e, :globe_with_meridians: api, :lipstick: ui, scope: moderations

refactor(ui): use barrel files
  packages/~/app/ui/package.json
  packages/~/app/ui/src/links/index.ts
  packages/~/app/ui/src/loader/index.ts
  packages/~/app/ui/src/menu/components/index.ts
  packages/~/app/ui/src/number/index.ts
  packages/~/app/ui/src/time/index.ts
  packages/~/app/ui/src/zammad/components/index.ts
  packages/~/infra/crisp/ui/src/Message/index.tsx
  packages/~/moderations/api/src/:id/Moderation_Exchanges.tsx
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/api/src/:id/email/page/Message.tsx
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/DomainsByOrganization/DomainsByOrganization.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/OrganizationsByUser/OrganizationsByUser.tsx
  packages/~/moderations/ui/src/UsersByOrganization/UsersByOrganization.tsx
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/members/Table.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/organizations/api/src/page.tsx
  packages/~/organizations/ui/src/info/About.tsx
  packages/~/users/api/src/:id/organizations/Table.tsx
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/api/src/page.tsx
  packages/~/users/ui/src/About/About.tsx
  packages/~/users/ui/src/Investigation/Investigation.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :lipstick: ui, scope: app, scope: moderations, scope: organizations, scope: users

refactor(ui): use barrel files (#876)
  packages/~/app/ui/package.json
  packages/~/app/ui/src/links/index.ts
  packages/~/app/ui/src/loader/index.ts
  packages/~/app/ui/src/menu/components/index.ts
  packages/~/app/ui/src/number/index.ts
  packages/~/app/ui/src/time/index.ts
  packages/~/app/ui/src/zammad/components/index.ts
  packages/~/infra/crisp/ui/src/Message/index.tsx
  packages/~/moderations/api/src/:id/Moderation_Exchanges.tsx
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/api/src/:id/email/page/Message.tsx
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/DomainsByOrganization/DomainsByOrganization.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/OrganizationsByUser/OrganizationsByUser.tsx
  packages/~/moderations/ui/src/UsersByOrganization/UsersByOrganization.tsx
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/members/Table.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/organizations/api/src/page.tsx
  packages/~/organizations/ui/src/info/About.tsx
  packages/~/users/api/src/:id/organizations/Table.tsx
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/api/src/page.tsx
  packages/~/users/ui/src/About/About.tsx
  packages/~/users/ui/src/Investigation/Investigation.tsx
Labels: :globe_with_meridians: api, :building_construction: infra, :lipstick: ui, scope: app, scope: moderations, scope: organizations, scope: users

:bookmark: release 2025.4.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

feat(ui): add toasters
  packages/~/app/layout/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/main.tsx
  packages/~/app/layout/src/root.ts
  packages/~/app/ui/src/toast/components/ToasterContainer.tsx
  packages/~/app/ui/src/toast/components/index.ts
  packages/~/app/ui/src/toast/index.ts
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/context.ts
Labels: :globe_with_meridians: api, :lipstick: ui, scope: app, scope: moderations

feat(ui): add toasters (#877)
  packages/~/app/layout/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/main.tsx
  packages/~/app/layout/src/root.ts
  packages/~/app/ui/src/toast/components/ToasterContainer.tsx
  packages/~/app/ui/src/toast/components/index.ts
  packages/~/app/ui/src/toast/index.ts
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/context.ts
Labels: :globe_with_meridians: api, :lipstick: ui, scope: app, scope: moderations

fix(moderation): use keydow and change to detect input changes
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
Labels: :lipstick: ui, scope: moderations

fix(moderation): use keydow and change to detect input changes (#878)
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
Labels: :lipstick: ui, scope: moderations

:bookmark: release 2025.4.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

fix(moderation): hide the modal if the request is successful
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
Labels: :lipstick: ui, scope: moderations

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/api/**/*"
          - "packages/~/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/database/**/*"
          - "packages/~/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "packages/~/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/infra/*/lib/**/*"
          - "packages/~/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/~/app/ui/**/*"
          - "packages/~/*/ui/**/*"

#

"scope: app":
  - changed-files:
      - any-glob-to-any-file: "packages/~/app/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/~/auth/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/~/config/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file: "packages/~/organizations/**/*"
"scope: proxy":
  - changed-files:
      - any-glob-to-any-file: "packages/~/proxy/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file: "packages/~/users/**/*"
"scope: welcome":
  - changed-files:
      - any-glob-to-any-file: "packages/~/welcome/**/*"
